{{!-- index={{i}} --}}
<li share-id={{share.id}} >
    <h5><b>分享連結 {{share.id}} ({{share.label}})</b></h5>

    <input type="checkbox" class="checkbox" name="subscribable" id="subscribable{{share.id}}" {{#if subscr.enabled }} checked {{/if}}>
    <label for="subscribable{{share.id}}">開放訂閱</label>

    <span>{{share.url}}</span>
    <button id="mailBtn" type="button">SendMail</button>
    <span class="msg hidden"></span>

</li><hr>
